/*添加按钮设置*/
.top-box button{
    float: right;
}

/*表格内容设置*/
table{
    table-layout: fixed;
    word-wrap: break-word;
    word-break: break-all;
}
.content-hide{
    -o-text-overflow:ellipsis;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
    width:100%;
}